<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Buckets</p>
  <div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Create Date</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i<buckets.length; i++) {%>
        <tr>
          <td><%= buckets[i].Name %></td>
          <td><%= buckets[i].CreationDate %></td>
          <td><a>Detalhes</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>